$darkBg: #111;
$colorWhiteTheme: #646464;
$customGray: rgb(44, 44, 44);
$redBg: #582727;
$colorDarkTheme: #b4b4b4;
$justWhite: #fff;
$justBlack: #202020;
$dropboxBg: #191919;
$bubi: rgb(234, 166, 128);
$piki: rgb(152, 222, 227);
$chervi: rgb(233, 123, 136);
$kresti: rgb(122, 167, 255);

@mixin common-styles {
  font-family: Dela Gothic One, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
@mixin transition-ease {
  transition: all 0.2s ease;
}

@mixin borders {
  border: 0.5px solid $colorWhiteTheme;
  border-width: 1px;
  border-radius: 0.5rem;
}

@mixin bordersHover {
  border: 0.5px solid $justWhite;
  border-width: 1px;
  border-radius: 0.5rem;
}
